{% extends 'base.html' %}
{% block title %}New List{% endblock %}

{% block body %}
    <h1>Create a New List</h1>
    <form id="new_list">
        <p id="name">
            What would you like to name this list? <input type="text" name="name">
        </p>
        <br>
        <h2>What Media would you like to add to this new list?</h2>
        <input id = "search_bar" type="text" placeholder="Search Media...">
        <br>
        <br>
        {% for media_and_form in full_forms %}
            <br>
            <p>Name: {{media_and_form['media'].name}}</p>
            <p>Category: {{media_and_form['media'].category}}</p>
            <p>Summary: {{media_and_form['media'].summary}}</p>
            <p>Rating: {{media_and_form['form'].rating}}/5 Stars</p>
            <p>Thoughts: {{media_and_form['form'].thoughts}}</p>
            <p>Recommendation?: {{media_and_form['form'].recommend_or_not}}</p>
            <button id="add_to_list" type="button">Add to List</button>
            <br>
            <br>
        {% endfor %}
        <br>
        <input id="form_submit" type="submit">
    </form>
{% endblock %}