{% extends 'base.html' %}
{% block title %}New List{% endblock %}

{% block body %}
    <h1>Create a New List</h1>
    <form id="new_list">
        <p id="name">
            What would you like to name this list? <input type="text" name="name">
        </p>
        <br>
        <h2>What Media would you like to add to this new list?</h2>
        <!-- <input id = "search_bar" type="search" placeholder="Search Media..."> -->
        <br>
        <br>
        <div class = "media_forms">
            <div class = "form">
                {% for media_and_form in full_forms %}
                    <br>
                    <div class="name">Name: {{media_and_form['media'].name}}</div>
                    <!-- <p>Name: {{media_and_form['media'].name}}</p> -->
                    <div class="category">Category: {{media_and_form['media'].category}}</div>
                    <!-- <p>Category: {{media_and_form['media'].category}}</p> -->
                    <div class="summary">Summary: {{media_and_form['media'].summary}}</div>
                    <!-- <p>Summary: {{media_and_form['media'].summary}}</p> -->
                    <div class="rating">Rating: {{media_and_form['form'].rating}}/5 Stars</div>
                    <!-- <p>Rating: {{media_and_form['form'].rating}}/5 Stars</p> -->
                    <div class="thoughts">Thoughts: {{media_and_form['form'].thoughts}}</div>
                    <!-- <p>Thoughts: {{media_and_form['form'].thoughts}}</p> -->
                    <div class="recommend_or_not">Recommendation?: {{media_and_form['form'].recommend_or_not}}</div>
                    <!-- <p>Recommendation?: {{media_and_form['form'].recommend_or_not}}</p> -->
                    <button id="add_to_list" type="button">Add to List</button>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
        <br>
        <input id="form_submit" type="submit">
    </form>
    <script src="/static/createList.js"></script>
{% endblock %}