{% extends 'base.html' %}
{% block title %}Form{% endblock %}

{% block body %}

<body id="form" class="container">
    <link href="/static/CSS/form.css" rel="stylesheet">
    <br>
    <br>
    <h1 id="form_title">Please fill out this form! </h1>
    <form id="new_form">
        <p id="type">
            <label for="media_type">Choose media's type:</label>
            <select name="media" id="type-select">
                <option value="webtoon">Webtoon</option>
                <option value="book">Book</option>
                <option value="tvshow">Tv Show</option>
                <option value="movie">Movie</option>
            </select>
        </p>

        <p id="name">
            Name: <input id="searchBox" type="text" name="name" style="width:400px">
            <button type="button" onclick="showSuggestions()">Search</button>
        </p>
        <p id="category">
            Category: <input type="text" name="category">
        </p>

        <p id="summary">
            Summary: <textarea id="summary-box" name="summary" rows="5" cols="50"></textarea>
        </p>

        <p id="rating">
            <label for="rating">Whats your rating?</label>
            <select name="rates" id="rate-select">
                <option value="0">0 Stars</option>
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
            </select>
        </p>

        <p id="thoughts">
            Thoughts? <textarea name="thoughts" rows="5" cols="50"></textarea>
        </p>

        <p id="recommend_or_not">
            <label for="recommend">Would you recommend?</label>
            <select name="recommendation" id="rec-select">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </p>
        <input id="new_form" type="submit">
    </form>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="suggestionList" class="suggestions"></div>
        </div>
    </div>

    <script src="/static/JS/form.js"></script>
</body>
{% endblock %}