{% extends 'base.html' %}
{% block title %}Noteworthy Homepage{% endblock %}

{% block body %}
<body id="homepage" class="container">
    <!-- <div class="container"></div> -->
    <br>
    <br>
    <br>
        <h1>Noteworthy</h1>
        <br>
        <br>
        <h2>Login</h2>
        <form id= "login_form">
            <p id="email">
                Email <input type="text" name="email">
            </p>

            <p id="password">
                Password <input type="password" name="password">
            </p>

            <input id="login_button" type="submit">
        </form>  
        <br>
        <br>
        <h2>Are you new here?</h2>
        <div class="create_login_button">
            <button id="create_button" type="button">Create Profile</button>
        </div>
        <script src="/static/JS/noteworthy.js"></script>
    <!-- </div> -->
</body>
{% endblock %}