{% extends 'base.html' %}
{% block title %}New User{% endblock %}

{% block body %}
<body id="homepage" class="container">
    <br>
    <br>
    <h1>Join Noteworthy</h1>
    <br>
    <br>
    <h2>Create an Account</h2>
    <form id="new_user_form">
        <p id="fname">
            First Name <input type="text" name="fname">
        </p>

        <p id="lname">
            Last Name <input type="text" name="lname">
        </p>

        <p id="email">
            Email <input type="text" name="email">
        </p>

        <p id="password">
            Password <input type="password" name="password">
        </p>
        <p id="re_password">
            Re-Enter Password <input type="password" name="password_2">
        </p>
        <p>
        <input id="new_user_button" type="submit">
        </p>
    </form>
    <script src="/static/JS/createProfile.js"></script>
</body>
{% endblock %}