{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Welcome {{fname}}</h1>

    <h2>Complete New Media Form</h2>
        <button id="new_form" type="button">New Form</button>

    <h2>Create New List</h2>
        <button id="new_list" type="button">New List</button>

    <h2>View Lists</h2>
        {% for form in forms %}
            <p>Media ID: {{form.media_id}}</p>
            <p>Rating: {{form.rating}}</p>
            <p>Thoughts: {{form.thoughts}}</p>
            <p>Recommendation?: {{form.recommend_or_not}}</p>
            <br>
        {% endfor %}

    <script src="/static/userProfile.js"></script>
{% endblock %}